<include file="Public:header"/>
<include file="Public:top"/>
    <div class="w1200 container">
        <include file="Public:menu"/>
        <div class="page-content">
            <ol class="breadcrumb">
                <li>用户中心</li>
                <li>修改密码</li>
            </ol>
            <div class="warp bar-style">
                <form id="{$Think.MODULE_NAME}-{$Think.ACTION_NAME}-form" class="form-horizontal" name="{$Think.MODULE_NAME}-{$Think.ACTION_NAME}-form" action="__SELF__" method="post" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">旧密码</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control " name="opassword" id="opassword" placeholder="旧密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">新密码</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control " name="npassword" id="npassword" placeholder="新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">重复</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control " name="rpassword" id="rpassword" placeholder="重复新密码">
                        </div>
                    </div>
                    <div class="form-group dialog-handle">
                        <label class="col-sm-3 control-label">&nbsp;</label>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-primary btn-submit">提 交</button>
                        </div>
                    </div>

                </form>
            </div>


        </div>
    </div>
<script>
    $(function(){
        $("#{$Think.MODULE_NAME}-{$Think.ACTION_NAME}-form").submitForm(function(f){
            return f.valid('opassword,npassword,rpassword');
        });
    });
</script>
<include file="Public:footer"/>