
html, body{
    height: 100%;
    width:100%;
}
body{margin:0;font-family:"微软雅黑","Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;overflow-x: hidden;color: #3a4049;height: 100%;background: #eceded}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p {
    padding: 0;
    margin: 0;
}*,*:before,*:after {
     -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
     box-sizing:border-box
 }
.clear:before,.clear:after{
    content: " ";
    display: table;
}
input,select,textarea {
    outline: 0;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    display: inline-block;
    padding: 5px 6px 3px;
    font-size: 12px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    resize: none;
}
em {
    font-style:normal;
    font-weight:normal;
}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic}
ol,ul,li {
    list-style-type:none;
    padding:0;
    margin:0;
}
ol,ul,li {
    list-style-type:none;
}
a {
    text-decoration:none;
    outline:none;
    color: #7e7e7e;
}
a:hover {
    outline:none;
    text-shadow:none;
}
div, input, select, textarea, span, img, table, td, th, p, a, button, ul, li,i {
    border-radius: 0 ;/*!important*/
    -moz-border-radius: 0;
    -webkit-border-radius: 0 ;
    outline:0 none;
}
.opacity-30{opacity: .3;-moz-opacity:.3;filter:-moz-opacity}
.opacity-40{opacity: .4;-moz-opacity:.4;filter:-moz-opacity}
.opacity-50{opacity: .5;-moz-opacity:.5;filter:-moz-opacity}
.opacity-60{opacity: .6;-moz-opacity:.6;filter:-moz-opacity}
.opacity-70{opacity: .7;-moz-opacity:.7;filter:-moz-opacity}
.opacity-80{opacity: .8;-moz-opacity:.8;filter:-moz-opacity}
.mw500{min-width: 500px;}
.mw600{min-width: 600px;}
.mw700{min-width: 700px;}
.w50{width:50px;}
.w100{width:100px;}
.w150{width:150px;}
.w200{width:200px;}
.w300{width:300px;}
.w500{width: 800px;}
.w800{width: 800px;}
.w900{width: 900px;}
.text-strong{font-weight: 700;}

.clearfix{clear: both;}
.display-block {
    position: relative!important;
    display: block!important;
}
.pad5A {
    padding: 5px!important;
}
.mrg5B {
    margin-bottom: 5px!important;
}
.dipIB{display: inline-block;overflow: hidden}
.mrg5LR{margin:0 5px!important;}
.bgD2{background: #d2ddee;}

.table{margin-bottom: 0;}
.panel{box-shadow: none;}
.panel-body{padding-bottom: 0;}
a.label{font-weight: 100;}
.clear:after,.clear:before{
    display:table;
    content:"";
}
.breadcrumb{background: none;margin-bottom: 10px;color: #bbb}
.breadcrumb a{color: #bbb}
.w1200{width:1200px;margin: 0 auto;}
.bar-style{background: #fff;border:1px solid #e5e6e6;border-radius: 5px;box-shadow: 0 0 1px 1px rgba(0,0,0,0.05)}
.header{height:54px;background: #6b8390;line-height: 54px;box-shadow: 1px 1px 5px 3px rgba(0,0,0,.1);color:#fff;}
.header .header-left{width:150px;float: left;font-size: 16px;}
.header .header-right{position: absolute;top:0;right: 0}
.header .header-right .user-profile{height:54px;background: rgba(0,0,0,.1);margin-left:10px;}
.header .header-right .user-profile>a{padding:0 15px;display: block;height:54px;line-height:54px;margin: 0;color: #909eb1
}
.header .header-right .user-profile>a>img{border-radius:4px;float: left;margin: 9px 9px 0 0;width: 36px;border:1px solid rgba(255,255,255,0.2)}
.header .header-right .user-profile>a>span{float:left;font-size: 14px;padding:0 5px;}
.header .header-right .user-profile>a>i{}
.header .header-right .user-profile .box-sm{width:300px;font-size: 12px;}
.header .header-right .user-profile .user-box{padding: 10px 15px;}
.header .header-right .user-profile .user-box .user-img{float: left;width:80px;height:80px;margin-right:15px;position: relative}
.header .header-right .user-profile .user-box .user-info{line-height: 1.8em;}
.header .header-right .user-profile .user-box .user-info span{font-size: 17px;display:block;padding:0 0 5px;color:#666;}
.header .header-right .user-profile .user-box .user-info a{line-height: 16px;
    display: inline-block;
    height: 16px;
    margin-right: 5px;
    padding-right: 5px;
    color: #7e7e7e;
    font-size: 14px;
}
.header .header-right .user-profile .user-box .user-info span i{
    font-size: 12px;
    font-style: normal;
    display: block;
    opacity: .7;
    -moz-opacity: .7;
    filter: alpha(opacity:70);
}
.header .header-right .user-profile .user-box .user-info .progress,
.header .header-right .user-profile .user-box .user-info .progress .progress-bar{height:15px;}
.header .header-right .user-profile .user-box .user-info .progress{background: #f0dece;margin-bottom: 0;}
.header .header-right .user-profile .user-box .user-info .progress .progress-bar{background: #f08800;}
.header .header-right .user-profile .user-box .user-info .progress span{color:#fff;font-size: 10px;margin-top: -2px;padding-left: 10px;}

.dropdown-menu.float-right {
    right: 0;
    left: auto;
}
.dropdown>.dropdown-menu:before{
    position: absolute;
    top: -7px;
    left: 7px;
    display: inline-block;
    content: '';
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,.2);
    border-left: 7px solid transparent;
}
.dropdown>.dropdown-menu:after{
    position: absolute;
    top: -6px;
    left: 8px;
    display: inline-block;
    content: '';
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
}
.dropdown>.dropdown-menu.float-right:before,
.dropup>.dropdown-menu.float-right:before {
    right: 7px;
    left: auto;
}
.dropdown>.dropdown-menu.float-right:after,
.dropup>.dropdown-menu.float-right:after{
    right: 8px;
    left: auto;
}



.container{margin: 20px auto 0;padding-bottom: 20px;
    min-height: 100%;/* IE6 hack*/
    height: auto!important;/* height优先级 */
    height: 100%;
    margin-bottom: -40px;
}
.page-left{width:200px;float: left;}
.page-left dl{padding:10px 0;margin-bottom: 20px;}
.page-left dl dt{color:#ddd;font-size: 16px;height:30px;line-height: 30px;padding:0 20px 5px;margin-bottom: 8px;border-bottom: 1px dotted #eee;}
.page-left dl dd{font-size: 14px;margin-bottom: 2px;}
.page-left dl dd a{display:block;color:#666;padding:5px 20px 5px 16px;border-left: 4px solid #fff;}
.page-left dl dd.active a,
.page-left dl dd a:hover{background: #f7f7f7;border-left-color: #39ccd2;text-decoration: none;}
.page-left dl dd a i{display: inline-table;width:20px;}
.page-content{width:950px;float: right;}
.page-content .tools-bar{margin-bottom: 20px;padding:8px 15px;background: #f5f5f5;border-radius: 5px;height:56px;}
.page-content .warp{padding:20px 20px;margin-bottom: 20px;}
.page-content .disk-info{padding:20px 20px;margin-bottom: 20px;overflow: hidden;}
.page-content .disk-info .icon{width:70px;height: 60px;float: left;}
.page-content .disk-info .icon i{font-size: 5em;color:#bbb}
.page-content .disk-info .info{width: 500px;float: left;padding-top:0;}
.page-content .disk-info .info p{line-height: 30px;}
.page-content .disk-info .info p span{color:#999;}
.page-content .disk-info .info .progress,
.page-content .disk-info .info .progress .progress-bar{height:15px;}
.page-content .disk-info .info .progress{background: #f0dece;margin-bottom: 0;}
.page-content .disk-info .info .progress .progress-bar{background: #f08800}
.page-content .disk-used{width:340px;float: left;margin-left: 20px;}
.page-content .disk-used dl{float: left;margin: 0 10px;width:150px;}
.page-content .disk-used dl dt{font-size: 3em;color:#bbb;float:left;width:50px;}
.page-content .disk-used dl dd{float:left;width:100px;padding-top:10px;}
.page-content .disk-used dl dd p{font-size: 14px;}
.page-content .disk-used dl dd span{color: #999}

.video-list{padding:0;margin-bottom: 20px;margin-left: -32px;}
.video-list .video-item{width:170px;background: #fff;float: left;margin-left: 32px;margin-bottom:32px;padding:10px 0;border-radius:5px;}
.video-list .video-item .img{width:150px;height:150px;overflow: hidden;border-radius:5px;margin: 0 10px;position: relative;text-align: center;line-height: 150px;}
.video-list .video-item .img .status{background: rgba(0,0,0,0.5);color:#fff;position: absolute;padding:5px 10px;font-size: 12px;}
.video-list .video-item .video-name{line-height: 30px;height:30px;overflow: hidden;margin: 0 10px;}
.video-list .video-item .video-footer{line-height: 25px;margin: 0 10px;}
.video-list .video-item .video-footer span{color: #999;font-size: 12px;}
.video-list .video-item .video-footer .btn-group{float:right;}
.video-list .video-item .video-footer .btn-group .btn{margin-top:0px;}
.video-list .video-item .video-footer .dropdown-menu{min-width: 75px;}
.video-list .video-item .video-footer .dropdown-menu li.active,
.video-list .video-item .video-footer .dropdown-menu li a:hover{background: #5bc0de}
.video-list .video-item .video-footer .dropdown-menu li a.disabled{cursor: default;color:#ccc}
.video-list .video-item .video-footer .dropdown-menu li a.disabled:hover{background:none;}
.video-list .video-empty{text-align: center;font-size: 26px;padding: 20px;color:#ccc}

.page-upload-box{position: absolute;width:650px;height:420px;top:100px;left:300px;background: #fff;border:1px solid #ddd;border-radius: 5px;padding:20px;z-index:10}
.page-upload-box .note{color:#999;background: #fff8ef;padding:10px;border-radius: 5px;border:1px solid #ffe9c3;}
.page-upload-box .file-list{margin-top: 10px;border-top: 1px solid #eee;overflow-y: auto;height:310px;}
.page-upload-box .file-list .file-header{height:30px;line-height: 30px;border-bottom: 1px solid #eee;}
.page-upload-box .file-list .filename{width: 290px;float: left;padding-left:10px;}
.page-upload-box .file-list .filesize{width: 80px;float: left;padding-left:10px;}
.page-upload-box .file-list .status{width: 138px;float: left;padding-left:10px;}
.page-upload-box .file-list .opts{width: 80px;float: left;padding-left:10px;}
.page-upload-box .file-list .file-item{height:30px;border-bottom: 1px solid #eee;position: relative;overflow: hidden;}
.page-upload-box .file-list .file-progress{background: #b2d6ff;height:30px;width: 0%;}
.page-upload-box .file-list .file-progress_success{background: #B4FFC1;}
.page-upload-box .file-list .file-info{position: absolute;height:30px;line-height: 30px;}
.page-upload-box .file-total{margin-top: 10px;}
.page-upload-box .file-total span{padding:10px;}
.page-upload-bg{background: rgba(255,255,255,0.1);position: absolute;top:0;left:0;height: 100%;width:100%;z-index:9}

.footer{background: #293644;height:40px;line-height: 40px;margin-top: 20px;color:#757780;text-align: center;}
.footer a{color:#293644;}

.uploadify .btn{padding:0;}


/*Login Page
================================================== */
.login{background: url("../images/usercenter_bg.jpg") center #a5929a;background-size:cover}
.page-login{width: 400px;position: absolute;left:50%;margin-left: -200px;top:40%;margin-top: -130px;}
.page-login .panel{border:0px;margin-bottom: 5px;box-shadow: 0 0 15px 10px rgba(0,0,0,0.1);
    background: rgba(255,255,255,.5);border-radius: 5px;}
.page-login .panel .panel-body{
    border: 1px solid #d2d3d6;
    border-bottom: 0px;
    border-radius: 5px 5px 0 0;
    padding:25px;
}
.page-login .panel .panel-footer{
    border-left: 1px solid #d2d3d6;
    border-right: 1px solid #d2d3d6;
    border-bottom: 1px solid #d2d3d6;
    border-top: 0px;
    padding: 20px 25px;
    background: rgba(255,255,255,.2);
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}
.page-login .panel .panel-body h4{text-align: center;margin:10px 0 20px;color:#555}
.page-login .panel .panel-body i{color:#444}
.page-login .panel .panel-body .form-control{background: rgba(255,255,255,.7);}
.page-login .panel .btn{padding:6px 40px;}
.page-login .message{display: none;position: absolute;background: #f2dede;border:1px solid #d43f3a;color: #d43f3a;margin: -50px auto 0;padding:10px;width: 400px;text-align: center;font-size: 14px;}

.has-feedback {
    position: relative;
}
.has-feedback .form-control {
    padding-right: 30px;
}
.form-control-feedback {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
.form-group .input-group .form-control-feedback{right:0;}

.has-success .form-control-feedback {color: #3c763d;}
.has-error  .form-control-feedback {color: #a94442;}

/*******/
.uploadify-button,.uploadifive-button{text-align: center;border:1px solid #4cae4c;background: #5cb85c;border-radius: 5px;color:#fff;font-size:14px;}
.uploadify-queue,.uploadifive-queue{position: absolute;z-index: 5;width:350px;top: 0;left:100px;background: rgba(239,239,239,0.5);border:1px solid #ddd;padding:10px;border-radius: 5px;box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.1);display: none;}
.uploadify-queue .fileName,.uploadifive-queue .filename{display: block;float: left;width:220px;height:26px;overflow: hidden;line-height:26px;}
.uploadify-queue .data,.uploadifive-queue .fileinfo{display:block;float: left;width:100px;height:26px;overflow: hidden;line-height:26px;}
.uploadifive-queue .close{font-size: 10px;}
.uploadify-queue .cancel{font-size:10px;float: right;}
.uploadify-queue .uploadify-progress,.uploadifive-queue .progress{
    height: 10px;clear: both;background: #afafaf;margin: 0;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.uploadify-queue .uploadify-progress .uploadify-progress-bar{
    height: 10px;
    background: #428bca;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
.tools-bar .uploadify-queue,.tools-bar .uploadifive-queue{display: none;}
.tools-bar .uploadify-button,.tools-bar  .uploadifive-button{background: #f0ad4e;border-color: #eea236}

/*******/

.alert-box{position: fixed;top:-5px;min-width: 320px;min-height: 70px;border-radius:  0 0 4px 4px;box-shadow: 0px 4px 5px 1px rgba(255,255,255,.2);
    background: #fff;font-size:14px;padding:20px 20px 0;line-height: 25px;z-index: 9999;}
.alert-box .alert-content{border-bottom:1px solid rgba(255,255,255,.8);margin: 0 -10px;padding:0 10px 5px;}
.alert-box .alert-btns{padding: 5px 0;text-align: right;}
.alert-box .alert-btns .btn{padding:0 10px;font-size: 12px;}
.alert-box.has-success{background:url("../images/success.png") no-repeat 10px 120% #dff0d8;border:1px solid #b3d8a1;box-shadow: 0px 0px 5px 5px rgba(108,224,110,.1);color:#333}
.alert-box.has-warn{background: #fcf8e3;border:1px solid #fce8b1;box-shadow: 0px 0px 5px 5px rgba(238,162,54,.1);color:#333}
.alert-box.has-error{background:url("../images/error.png") no-repeat 10px 120% #f2dede;border:1px solid #d4b5b5;box-shadow: 0px 0px 5px 5px rgba(212,63,58,.1);color:#333}
.alert-box .alert-detail{background: rgba(255,255,255,.5);padding:6px 10px;border-radius: 5px;font-size: 12px;display: block;line-height:20px;margin: 0 -10px 5px;}


/****弹窗****/
.modal{
    position: fixed;/*fixed*/
    top:0;
    left:0;
    z-index: 999;
    overflow: hidden;
    display: block;
    opacity : 0;

}
.modal-dialog{
    position: relative;
    margin-top: -5px;
}
.modal-dialog .modal-content{
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    color: #555;
}
.modal-dialog .modal-content .modal-body{
}
.modal-dialog .modal-header {
    border:0;
    padding: 15px;
    background: #fcfcfc;
    border-bottom: 1px solid #e5e5e5;
}
.modal-dialog .modal-header h3{
    font-size: 14px;
    font-weight: 700;
}
.modal-dialog .modal-header.no-header{background: transparent;border: 0;padding: 0;}
.modal-dialog .modal-header.no-header .close{float: right;margin-top: 3px;margin-right: 5px}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background-color: #fcfcfc;
}
.modal-backdrop {
    position: fixed;
    z-index: 990;
    background-color: #000;
}
.modal-backdrop.in {
    opacity: .2;
    filter: alpha(opacity=50);
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.i-circle{
    border: 2px solid #f1f1f1;
    border-radius: 50%;
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-bottom: 15px;
    line-height: 105px;
}
.i-circle i{
    font-weight: 100;
}


.jDialog{position: absolute;top:0;left:0;background: #fff;border:1px solid #ddd;
    -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.1);
    padding:0 10px;
    z-index: 99;
}
.jDialog .jD-header{padding:12px;margin: 0 -10px;border-bottom: 1px solid #ddd;background:#f5f5f5;
    -moz-border-radius:5px 5px 0px 0px;-webkit-border-radius:5px 5px 0px 0px;border-radius:5px 5px 0px 0px;
    font-size:14px;font-weight:700;color:#3399ff;
}
.jDialog .jD-header .jD-close{position: absolute;display: inline-table;padding: 0;right: 10px;top:5px;text-decoration: none;font-size: 24px;color:#bbb}
.jDialog .jD-header .jD-close:hover{color: #777;}
.jDialog .jD-content{padding:0 10px;margin: 10px 0;position: relative;line-height: 20px;}
.jDialog .jD-content:after{content: " ";display: table;}
.jDialog .jD-botton{padding:12px;margin: 0 -10px;border-top: 1px solid #ddd;background:#f5f5f5;
    -moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;
    text-align: right;
}
.jDialog .jD-botton button{margin: 0 4px;}
.jDialog-make{width:100%;height:100%;filter:alpha(opacity=5);opacity:.05;position:absolute;top:0;left:0;z-index:98;background:#000}
.jDialog-make iframe{width:100%;height:100%;filter:alpha(opacity=0);opacity:0;border:0px;}


.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #40b7b8;
    border-color: #40b7b8;
}



