<include file="Public:header" />
<div class="page-login">
    <div class="message" id="message"></div>
    <form action="__SELF__" id="{$Think.MODULE_NAME}-{$Think.ACTION_NAME}-form"  class="form-horizontal row-border" method="POST">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h4>网站监控中心</h4>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-user"></i> </span>
                            <input type="text" class="form-control" name="username" id="username" placeholder="用户名">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-lock"></i> </span>
                            <input type="password" class="form-control" name="password" id="password" placeholder="密 码">
                        </div>
                    </div>
                </div>
                <!--<div class="form-group">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-qrcode"></i> </span>
                            <input type="text" class="form-control" name="code" id="code" maxlength="4" placeholder="验证码">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img src="{:U('Passport/verify')}" src-default="{:U('Passport/verify')}" id="verify_code" />
                    </div>
                </div>-->
            </div>
            <div class="panel-footer clear">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">登 录</button>
                </div>
            </div>
        </div>
    </form>
    <div style="color:rgba(255,255,255,0.5);text-align: center">请使用IE9+、Firefox、Chrome、Safari、... 浏览</div>
</div>
<script>
    $(function(){
        $("#{$Think.MODULE_NAME}-{$Think.ACTION_NAME}-form").submitForm(function(f){
            <if condition="defined('ADMIN_VERIFY') && ADMIN_VERIFY">
                return $("#{$Think.MODULE_NAME}-{$Think.ACTION_NAME}-form").valid('username,password,code');
            <else/>
            return $("#{$Think.MODULE_NAME}-{$Think.ACTION_NAME}-form").valid('username,password');
            </if>
        },function(result){
            if(result.status != 1){
                $("#message").text(result.info).fadeIn(400).delay(4000).fadeOut(400);
                $("#code").val('');
                $("#verify_code").click();
            }else{
                location.href  = result.url;
            }
        });
        $("#verify_code").click(function(){
            var src = $(this).attr("src-default");
            $(this).attr("src",src+'?_'+new Date().getTime());
        })
    });
</script>
</body>
</html>