<div class="page-left clear">
    <dl class="bar-style">
        <dt>Modules</dt>
        <dd <if condition="CONTROLLER_NAME =='Index'">class="active"</if>><a href="{:U('Index/index')}"><i class="icon-dashboard"></i> 控制台</a></dd>
        <dd <if condition="CONTROLLER_NAME == 'Site'">class="active"</if>><a href="{:U('Site/index')}"><i class="icon-film"></i> 网站列表</a></dd>
    </dl>
    <dl class="bar-style">
        <dt>Preferences</dt>
        <dd  <if condition="CONTROLLER_NAME == 'Personal' && ACTION_NAME=='modifypw'">class="active"</if>><a href="{:U('Personal/modifypw')}"><i class="icon-key"></i> 修改密码</a></dd>
        <if condition="$login_user.role_id == 1">
        <dd  <if condition="CONTROLLER_NAME == 'Manager'">class="active"</if>><a href="{:U('Manager/index')}"><i class="icon-key"></i> 用户管理</a></dd>
        </if>
    </dl>
</div>