<div class="header clear">
    <div class="w1200">
        <div class="header-left">网站状态监控</div>
        <div class="header-right">
            <div class="user-profile clear clearfix dropdown">
                <a href="" data-toggle="dropdown">
                    <span>{$login_user.name}({$login_user.username})</span>
                    <i class="glyph-icon icon-chevron-down"></i>
                </a>
                <div class="dropdown-menu pad0B float-right">
                    <div class="pad5A button-pane button-pane-alt text-center">
                        <a href="{:U('passport/logout')}" class="btn display-block font-normal btn-danger">
                            <i class="glyph-icon icon-power-off"></i>
                            退出
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>