<include file="Public:header"/>
<include file="Public:top"/>
<div class="w1200 container">
    <include file="Public:menu"/>
    <div class="page-content">
        <ol class="breadcrumb" style="display: none;">
            <li><a href="#">用户中心</a></li>
            <li><a href="#">视频列表</a></li>
        </ol>
        <div class="warp bar-style">
            <p style="font-size: 14px;padding:20px 0;">
            {$login_user.name},你好！
                <if condition="$login_user['last_time']">
            上次登录时间：{:date("Y-m-d H:i:s",$login_user['last_time'])}
            上次登录IP：{$login_user['last_ip']}
                </if>
            </p>
        </div>
    </div>
</div>
<include file="Public:footer"/>
