<div class="container w500">
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <form id="{$Think.MODULE_NAME}-{$Think.ACTION_NAME}-form" class="form-horizontal" name="{$Think.MODULE_NAME}-{$Think.ACTION_NAME}-form"
                      action="__SELF__" method="post" role="form">
                    <input type="hidden" name="whereid" value="{$result.id}" />
                    <div class="form-group">
                        <label class="col-sm-3 control-label">姓名</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control " name="name" value="{$result.name}" id="name" placeholder="姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户名</label>
                        <div class="col-sm-5">
                            <input type="text" <if condition="$result">disabled</if> class="form-control " name="username" value="{$result.username}" id="username" placeholder="用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">密码</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control " name="password" value="" id="password" placeholder="密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">所属权限</label>
                        <div class="col-sm-3">
                            <label class="radio-inline">
                                <input type="radio" name="role_id" class="sel-uniform" value="1"<if condition="$result.role_id eq '1'"> checked="checked"</if>>
                                管理员
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="role_id" class="sel-uniform" value="2"<if condition="$result.role_id eq '2' || !$result"> checked="checked"</if>>
                                普通用户
                            </label>
                        </div>
                    </div><div class="form-group">
                        <label class="col-sm-3 control-label">状态</label>
                        <div class="col-sm-3">
                            <label class="radio-inline">
                                <input type="radio" name="enabled" id="enabledY" class="sel-uniform" value="Y"<if condition="$result.enabled eq 'Y' || !$result"> checked="checked"</if>>
                                正常
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="enabled" id="enabledN"  class="sel-uniform" value="N"<if condition="$result.enabled eq 'N'"> checked="checked"</if>>
                                禁用
                            </label>
                        </div>
                    </div>

                    <div class="form-group dialog-handle">
                        <label class="col-sm-3 control-label">&nbsp;</label>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn-submit">提 交</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#{$Think.MODULE_NAME}-{$Think.ACTION_NAME}-form").submitForm(function(f){
            <if condition="!$result">
            return f.valid('name,username,password');
            <else />
            return f.valid('name');
            </if>
        });
    })
</script>
