<include file="Public:header"/>
<include file="Public:top"/>
<div class="w1200 container">
    <include file="Public:menu"/>
    <div class="page-content">
        <ol class="breadcrumb">
            <li><a href="/">监控中心</a></li>
            <li><a href="#">用户管理</a></li>
        </ol>
        <div class="warp bar-style">
            <div class="mrg5B">
                <a href="{:U('Manager/add')}" data-toggle="dialog"  title="新增用户" class="btn btn-primary"><i class="icon-plus"></i> 新增用户</a>
            </div>
            <div class="table-responsive">
                <table class="table  table-striped table-hover">
                    <tr>
                        <th>姓名</th>
                        <th>用户名</th>
                        <th>最后登录时间</th>
                        <th class="w100">最后登录Ip</th>
                        <th class="w100">状态</th>
                        <th class="w100">-</th>
                    </tr>
                    <foreach name="list" item="val">
                        <tr id="list-items-{$val['id']}">
                            <td>{$val.name}</td>
                            <td>{$val.username}</td>
                            <td><if condition="$val['last_time']">{:date("Y-m-d H:i:s",$val['last_time'])}</if></td>
                            <td>{$val.last_ip}</td>
                            <td>{:getEnabled($val['enabled'])}</td>
                            <td class="w100">
                                <if condition="$val.is_default eq 'Y'">
                                    -
                                <else />
                                <a href="{:U('Manager/add','id='.$val['id'])}" class="label label-primary" data-toggle="dialog"  title="修改">修改</a>
                                <a href="{:U('Manager/del')}" data-params="{$val['id']}" class="label label-warning ajaxdelete" data-toggle="#list-items-{$val['id']}" title="删除用户“{$val.name}”">删除</a>
                                </if>
                            </td>
                        </tr>
                    </foreach>
                </table>
                <center>
                {$page}
                </center>
            </div>
        </div>
    </div>
</div>
<script>
    var time = 3 * 60 * 1000; //每10分钟刷新一次
    setTimeout(function(){
        location.reload();
    },time);
    $(function(){
        $("#websearch").click(function(){
            var val = $.trim($("#website").val());
            if(val){
                location.href = '{:U('Site/index')}?website='+encodeURIComponent(val);
            }
        });
    });
</script>
<include file="Public:footer"/>
