<div class="container w500">
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <form id="{$Think.MODULE_NAME}-{$Think.ACTION_NAME}-form" class="form-horizontal" name="{$Think.MODULE_NAME}-{$Think.ACTION_NAME}-form"
                      action="__SELF__" method="post" role="form">
                    <input type="hidden" name="whereid" value="{$result.id}" />
                    <div class="form-group">
                        <label class="col-sm-3 control-label">网站名称</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control " name="webname" value="{$result.webname}" id="webname" placeholder="网站名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">网站地址</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control " name="website" value="{$result.website}" id="website" placeholder="网站地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">网站端口</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control " name="port" value="<if condition="$result">{$result.port}<else />80</if>" id="port" placeholder="网站端口">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">状态</label>
                        <div class="col-sm-3">
                            <label>
                                <input type="radio" name="status" id="enabledY" class="sel-uniform" value="Y"<if condition="$result.status eq 'Y' || !$result"> checked="checked"</if>>
                                正常
                            </label>
                            <label>
                                <input type="radio" name="status" id="enabledN"  class="sel-uniform" value="N"<if condition="$result.status eq 'N'"> checked="checked"</if>>
                                禁用
                            </label>
                        </div>
                    </div>

                    <div class="form-group dialog-handle">
                        <label class="col-sm-3 control-label">&nbsp;</label>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn-submit">提 交</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#{$Think.MODULE_NAME}-{$Think.ACTION_NAME}-form").submitForm(function(f){
            return f.valid('webname,website');
        });
    })
</script>
