<include file="Public:header"/>
<include file="Public:top"/>
<div class="w1200 container">
    <include file="Public:menu"/>
    <div class="page-content">
        <ol class="breadcrumb">
            <li><a href="/">监控中心</a></li>
            <li><a href="#">网站列表</a></li>
        </ol>
        <div class="warp bar-style">
            <div class="mrg5B">
                <a href="{:U('Site/add')}" data-toggle="dialog"  title="新增网站" class="btn btn-primary"><i class="icon-plus"></i> 新增网站</a>
                <div class="pull-right" style="width: 300px;">
                    <div class="input-group">
                        <input type="text" class="form-control" id="website" value="{$website}" placeholder="网站网址">
                        <span class="input-group-addon" id="websearch" style="cursor: pointer">搜索</span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table  table-striped table-hover">
                    <tr>
                        <th>网站名称</th>
                        <th>网站地址</th>
                        <th>最近一次检查时间</th>
                        <th class="w100">ping值</th>
                        <th>网站状态码</th>
                        <th class="w100">-</th>
                    </tr>
                    <foreach name="list" item="val">
                        <tr id="list-items-{$val['id']}">
                            <td>{$val.webname}</td>
                            <td>{$val.website}</td>
                            <td><if condition="$val['last_time']">{:date("Y-m-d H:i:s",$val['last_time'])}</if></td>
                            <td><if condition="$val['ping'] eq -1">未知<else/>{$val.ping} 秒</if></td>
                            <td class="<if condition="$val['http_status'] eq 200">text-success text-strong<elseif condition="$val['http_status'] eq 404 || $val['http_status'] eq 500" />text-danger text-strong</if>">{:getHttpCode($val['http_status'])}({$val.http_status})</td>
                            <td class="w100">
                                <a href="{:U('Site/add','id='.$val['id'])}" class="label label-primary" data-toggle="dialog"  title="修改">修改</a>
                                <a href="{:U('Site/del')}" data-params="{$val['id']}" class="label label-warning ajaxdelete" data-toggle="#list-items-{$val['id']}" title="删除网站“{$val.webname}”">删除</a></td>
                        </tr>
                    </foreach>
                </table>
                <center>
                {$page}
                </center>
            </div>
        </div>
    </div>
</div>
<script>
    var time = 3 * 60 * 1000; //每10分钟刷新一次
    setTimeout(function(){
        location.reload();
    },time);
    $(function(){
        $("#websearch").click(function(){
            var val = $.trim($("#website").val());
            if(val){
                location.href = '{:U('Site/index')}?website='+encodeURIComponent(val);
            }
        });
    });
</script>
<include file="Public:footer"/>
